body { 
    background-image:linear-gradient(to bottom, #B9EBAE, #82B876, #607A5B ) ;
    background-attachment: fixed;   
}

.titulokb{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 100px;
    border: 1px solid rgb(62, 95, 61);
    text-align: center;  
}

section{
    font-size: 15pt arial;
    margin: 90px;
}

ul{
    font-size: 20pt;
}

#copyright{
    background-color: rgb(255, 255, 255);
    margin: 120px;
    border-radius: 5px;
    text-align: left;
    border: 1px rgb(62, 95, 61);

}

/*
@charset "UTF-8";

*{
    /*height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #A1C7E0, #00ABBD)
}
main{
    background-color: white;
    /*Pra deixar a borda curvada: 
    border-radius: 15px;
    /*Box Shadow: (Espalhamento pro lado <-- , Espalhamento de baixo pra cima, tamanho da sombra 
    box-shadow: 5px 5px 10px rgb(66, 105, 112);
    /*Pra colocar a largura do bloco:
    width: 600px;
    /*Pra deixar mais gordinho (acolchoamento) 
    padding: 10px;
    /*Pra deixar o bloco no meio
    margin: auto;
}
h1{
    color: #0099DD;
    text-align: center;
    text-shadow: 1px 1.5px 1px #026E81;
}

h2{
    color: #026E81;
}
p {
    text-align: justify;
}*/