<section [ngClass]="{'loading': !taskList.length}">

    <ul *ngIf="taskList.length">

        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" (keyup)="validationInput(item.task, i)" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}">

            <button (click)="deleteItemTaskList(i)">
                <img src="../../../../../assets/Vector.svg" alt="Botão deletar">
            </button>

        </li>
        
    </ul>
</section>

<app-to-do-input-add-itens (emitItemTaskList)="setEmitTaskList($event)"></app-to-do-input-add-itens>
<app-to-do-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"><app-to-do-button-delete-all>