@import '../../../../dist/scss/variables.scss';

:host{

    display: flex;
    justify-content: center;
    margin-top: 20px;

    button{
        border-radius: 30px;
        border: none;
        background-color: $danger-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

        color: $tertiary-color;
        font-weight: 700; 
    
        width: 60%;
        height: 40px;  
        
    }
}