.botao{
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 32px 0;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.botao:hover{
    color: #95ffd4;
    box-shadow: none;
}